<h1>Listing presentations</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Speaker</th>
    <th>Conference</th>
  </tr>

  <tr>
    <td><%=h @presentations[0].title %></td>
    <td>attempt</td>
  </tr>

<% @presentations.each do |presentation| %>
  <tr>
    <td><%=h presentation.title %></td>
    <td><%=h presentation.speaker %></td>
    <td><%=h presentation.conference %></td>
    <td><%= link_to 'Show', presentation %></td>
    <td><%= link_to 'Edit', edit_presentation_path(presentation) %></td>
    <td><%= link_to 'Destroy', presentation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New presentation', new_presentation_path %>
