<h1>New presentation</h1>

<% form_for(@presentation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :speaker %><br />
    <%= f.text_field :speaker %>
  </p>
  <p>
    <%= f.label :conference %><br />
    <%= f.text_field :conference %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', presentations_path %>