<p>
  <b>Order:</b>
  <%=h @section.order %>
</p>

<p>
  <b>Title:</b>
  <%=h @section.title %>
</p>

<p>
  <b>Clue:</b>
  <%=h @section.clue %>
</p>


<%= link_to 'Edit', edit_section_path(@section) %> |
<%= link_to 'Back', sections_path %>