<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= @presentations[0].title %></title>
  <%= stylesheet_link_tag 'page' %>
  <%= stylesheet_link_tag 'blitzer/jquery-ui-1.8.2.custom' %>
  <%= javascript_include_tag 'jquery-1.4.2.min', 'jquery-ui-1.8.2.custom.min', 'jrails', 'application' %>
</head>
<body>
<p style="color: green"><%= notice %></p>

<%= yield %>

</body>
</html>
